// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Gray Colors
$white: #fff;
$gray-100: #ffffff;
$gray-200: #f3f3f4;
$gray-300: #e7e8e9;
$gray-400: #cfd1d4;
$gray-500: #9fa3a9;
$gray-600: #6f757e;
$gray-700: #3f4753;
$gray-800: #27303e;
$gray-900: #0f1928;
$black: #000;

// gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$primary: #3f7a98;
$secondary: #3f988a;
$danger: #fc742a;
$light: $gray-100;
$light-blue: #f1faff;
$gray: $gray-500;
$success: #3fcc5b;
$info: #0edaf9;
$warning: #eae312;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// Add custom color map
$custom-colors: (
  "light-blue": $light-blue,
  "gray": $gray,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$font-family-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//Accordion
$accordion-button-active-bg: $light;
$accordion-button-active-color: $dark;
$accordion-padding-y: 0;
$accordion-padding-x: 0;
$accordion-border-width: 0;
$accordion-button-focus-box-shadow: none;

//Badge
$badge-border-radius: 0.25rem;

//Border Radius
$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.625rem;

//Button
$input-btn-padding-y-lg: 1rem;

//Card
$card-cap-bg: $white;

//Checkbox
$form-check-input-border: 2px solid $primary;

//Container
$container-padding-x: 2.5rem;

//Dropdown
$dropdown-border-width: 0;

//Font Size
$font-size-lg: 1rem;
$font-weight-semibold: 500;

//Form validation
$form-feedback-icon-valid: "";
$form-feedback-valid-color: $primary;
$form-feedback-icon-invalid: "";

//Input
$input-btn-focus-color: $info;
$input-btn-focus-width: 0.125rem;
$input-padding-y-lg: 1rem;
$input-padding-x-lg: 1rem;

//Link
$link-color: $gray-900;
$link-decoration: none;

//Modal
$modal-header-padding: 1.625rem;

//Nav
$nav-tabs-border-width: 1px;
$nav-link-padding-y: 0.625rem;
$nav-link-padding-x: 0rem;
$nav-link-color: $gray-900;
$nav-tabs-link-active-color: $primary;

$nav-tabs-border-width: 4px;

//Navbar Brands
$navbar-brand-font-size: 1.25rem;
$navbar-brand-padding-y: 0;
$navbar-light-brand-color: $primary;
$navbar-light-brand-hover-color: rgba($primary, 0.8);

// Pagination
$pagination-color: $primary;

// sizing
$base-font-size: 16px;
$grid-gutter-width: 1.5rem;
$grid-columns: 12;
$input-font-size: 14px;

//Spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.3125,
  //5px
  2: $spacer * 0.625,
  //10px
  3: $spacer * 0.9375,
  //15px
  4: $spacer * 1.5,
  //24px
  5: $spacer * 2,
  6: $spacer * 3,
);

//Tooltip
$tooltip-max-width: 500px;
