{% set cssStyle = "style" %} {% set pageTitle = 'Edit Profile' %} {% import
'nav.html' as nav %} {% import 'input.html' as input %} {% import 'button.html'
as button %} {% extends "layout.html" %} {% block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-shop.webp" class="hero__bg hero__bg--small" />
    <div class="hero__container">
      <div class="hero__content">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Profile
        </div>
        <hr class="text-primary opacity-100 mx-6" />
      </div>
    </div>
  </section>
  <section class="profile__section">
    <div class="container">
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="true"
          >
            <i class="fas fa-user-cog me-1"></i>Profile
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="nav-password-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-password"
            type="button"
            role="tab"
            aria-controls="nav-password"
            aria-selected="true"
          >
            <i class="fas fa-unlock-alt me-1"></i>Password
          </a>
        </li>
      </ul>

      <div class="tab-content" id="nav-tabContent">
        <!-- TAB PROFILE -->
        <div
          class="tab-pane fade show active"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="p-3 border mb-4 mb-md-5 rounded rounded-1">
            <h6 class="fw-bold">Email change</h6>
            <p class="text-gray fw-light fw-14">
              Check your email clibjackson@gmail.com to confirm your email
              address, the change won’t take effect until confirmed <br />
              Don’t see a confirmation email?
              <a
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#resendModal"
                class="fw-bold"
              >
                Resend email confirmation
              </a>
            </p>
          </div>

          <!-- UPDATE PICTURE -->
          <div
            id="updatePicture"
            class="d-flex align-items-center gap-3 mb-3 mb-md-4"
          >
            <!-- <img
              class="avatar rounded-circle me-2 me-md-4"
              src="../assets/images/profile-1.webp"
              alt="avatar"
            /> -->
            <div class="icon-profile icon-profile--large">M</div>
            <div>
              <div class="mb-1 mb-md-3">
                <label for="formFile" class="btn btn-outline-primary btn-sm">
                  Upload New Picture
                </label>
                <input class="d-none" type="file" id="formFile" />
              </div>
              <p class="text-gray fw-light fs-7 fs-md-5">
                JPG or PNG Max size of 800kb
              </p>
            </div>
          </div>
          <!-- INPUTS -->
          <form action="" class="row g-lg-5 g-3 mb-5">
            <div class="col-lg-6">
              {{ input.floating('First Name', 'firstName', 'Clib') }}
            </div>
            <div class="col-lg-6">
              {{ input.floating('Last Name', 'lastName', 'Jackson') }}
            </div>
            <div class="col-lg-6">
              {{ input.floating('Email', 'email', 'clibjackson@gmail.com',
              'email') }}
            </div>
            <div class="col-lg-6">
              {{ input.floating('Phone Number', 'phone', '+64 1234 5678', 'tel')
              }}
            </div>
            <div class="col col-md-auto">
              {{ button.submit('','Save Change') }}
            </div>
          </form>
        </div>
        <!-- TAB PASSWORD -->
        <div
          class="tab-pane fade"
          id="nav-password"
          role="tabpanel"
          aria-labelledby="nav-password-tab"
        >
          <!-- INPUTS -->
          <form action="" class="row row-cols-1 g-lg-5 g-3 mb-5">
            <div class="col">
              {{ input.floating('Current password', 'currentPass', 'password',
              'password') }}
              <p class="text-gray fs-7 fw-light mt-1">
                Leave blank if you don’t want dont to change it
              </p>
            </div>
            <div class="col">
              {{ input.floating('New password', 'newPass', 'password',
              'password') }}
              <p class="text-gray fs-7 fw-light mt-1">Minimum 6 characters</p>
            </div>
            <div class="col">
              {{ input.floating('Confirm password', 'confirmPass', 'password',
              'password') }}
            </div>
            <div class="col col-md-auto">
              {{ button.submit('','Save Change') }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% include 'footer.html' %} {% endblock %}
