{% set cssStyle = "style" %} {% extends "layout.html" %} {% block content %} {%
import 'nav.html' as nav %}

<header>{{ nav.auth() }}</header>
<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="auth__content">
          <div class="auth__content-wrapper">
            <h2 class="auth__sub-title">Content :</h2>
            <div class="auth__list row row-cols-md-3 g-3">
              <a href="login.html" class="auth__link">Login</a>
              <a href="sign_up.html" class="auth__link">Sign Up</a>
              <a href="home.html" class="auth__link">Main System</a>
              <a href="medicine-kit.html" class="auth__link">Medicine Kit</a>
              <a href="monitoring.html" class="auth__link">Monitoring</a>
              <a href="shop.html" class="auth__link">Shop</a>
              <a href="rongoa-maori.html" class="auth__link">Rongoa māori</a>
              <a href="tetikangao.html" class="auth__link">Te tikanga o toku whare</a>
              <a href="kai.html" class="auth__link">Kai</a>
              <a href="kai-detail.html" class="auth__link">Kai Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
