{% set cssStyle = "style" %} {% extends "layout.html" %} {% block content %}
{% import 'nav.html' as nav %}

<header>{{ nav.auth() }}</header>
<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="auth__content">
          <div class="auth__content-wrapper">
            <h2 class="auth__sub-title">Content :</h2>
            <div class="auth__list row row-cols-md-3 g-3">
              <a href="login.html" class="auth__link">Login</a>
              <a href="sign_up.html" class="auth__link">Sign Up</a>
              <a href="confirm_instruction.html" class="auth__link">
                Confirm Instruction
              </a>
              <a href="resend_email.html" class="auth__link">Resend Email</a>
              <a href="forgot_password.html" class="auth__link">
                Forgot Password
              </a>
              <a href="step_form.html" class="auth__link">Step Form</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
