{% set cssStyle = "style" %} {% set pageTitle = 'Medicine Kit' %} {% import
'nav.html' as nav %} {% import 'nearest-pharmacy.html' as pharmacy %} {% extends
"layout.html" %} {% block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-shop.webp" class="hero__bg hero__bg--small" />
    <div class="hero__container">
      <div class="hero__content hero__content--big">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Create your Covid Medicine kit
        </div>
        <hr class="text-primary opacity-100 mx-6" />
        <div class="hero__content-body hero__content-body--medicine-kit">
          You can ask your Doctor for a prescription for most of these medicines
        </div>
      </div>
    </div>
  </section>
  {% include 'medicine-section.html' %}
  {{ pharmacy.isChemist('Nearest Pharmacy', false)}} 
</main>

{% include 'footer.html' %} {% endblock %}
