{% set cssStyle = "style" %} {% set pageTitle = 'Medicine Kit' %} {% import
'nav.html' as nav %} {% extends "layout.html" %} {% block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-home.webp" class="hero__bg" />
    <div class="hero__container">
      <div class="hero__content hero__content--big">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Create your Covid Medicine kit
        </div>
        <hr class="text-primary opacity-100 mx-6" />
        <div class="hero__content-body hero__content-body--medicine-kit">
          You can ask your Doctor for a prescription for most of these medicines
        </div>
      </div>
    </div>
  </section>
  <div class="content-with-ads__section d-flex col-12 col-xl-11 flex-wrap-reverse">
    <section class="ads__section col-12 col-xl-3 mb-6">
      <div class="container">
        <h5 class="text-center mb-4">Advertising</h5>
        <div class="card bg-light-blue border-0">
          <div class="card-header bg-light-blue text-end border-0">
            <a role="button" class="btn" aria-label="Close">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <div class="card-body text-center bg-light rounded-3 mx-3 mb-4 1mt-0">
            <img class="ads__image" src="./assets/img/img-ads.webp" alt="" />
            <p class="my-3">
              DELIVERED TO NEW <br />
              ZEALAND'S BEST
            </p>
            <button class="btn btn-primary px-4">Order</button>
          </div>
        </div>
      </div>
    </section>
    <section class="medicine-kit__section col-12 col-xl">
      <div class="container">
        <h3 class="medicine-kit__title">
          <i class="fas fa-briefcase-medical"></i>Medicine Kit
        </h3>
        <hr class="opacity-100" />
        <div
          class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 gx-md-3 gy-md-4 g-lg-5"
        >
          {% include 'medicine-list.html' %}
        </div>
      </div>
    </section>
    
  </div>
  <section class="nearest-pharmacy__section bg-light-blue mb-0">
    <div class="pharmacy__container">
      <div class="pharmacy__title text-center">Nearest Pharmacy</div>
      {% include 'pharmacy-list.html' %}
      <!-- pagination -->
      <nav class="pharmacy__pagination" aria-label="pharmacy pagination">
        <ul class="pagination mt-5 justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">10</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</main>

{% include 'footer.html' %} {% endblock %}
