{% set cssStyle = "style" %} {% set pageTitle = 'Monitoring' %} {% import
'nav.html' as nav %} {% import 'cards.html' as card %} {% import 'modal.html' as
modal %} 
{% extends "layout.html" %} {% block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-home.webp" class="hero__bg hero__bg--small fix-image-position" />
    <div class="hero__container">
      <div class="hero__content hero__content--big">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Monitoring Whanau Health
        </div>
        <hr class="text-primary opacity-100 mx-6" />
        <div class="hero__content-body hero__content-body--medicine-kit">
          Do regular monitoring, so you will know what you have to do.
        </div>
      </div>
    </div>
  </section>

  {% include 'monitoring-section.html' %}
  {% include 'nearest-hospital.html' %}
</main>
{{ modal.oximeterReading() }} 
{{ modal.updateOximeterReading() }} 
{{ modal.addSymptoms() }} 
{{ modal.updateSymptoms() }} 
{% include
'footer.html' %} {% endblock %}
