{% set cssStyle = "style" %} {% set pageTitle = 'Monitoring' %} {% import
'nav.html' as nav %} {% import
  'cards.html' as card %} {% extends "layout.html" %} {% block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-home.webp" class="hero__bg" />
    <div class="hero__container">
      <div class="hero__content hero__content--big">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Monitoring Whanau Health
        </div>
        <hr class="text-primary opacity-100 mx-6" />
        <div class="hero__content-body hero__content-body--medicine-kit">
          Do regular monitoring, so you will know what you have to do.
        </div>
      </div>
    </div>
  </section>

  <section class="monitoring__section">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="oximeter-tab"
            data-bs-toggle="tab"
            data-bs-target="#oximeter-tab-pane"
            type="button"
            role="tab"
            aria-controls="oximeter-tab-pane"
            aria-selected="true"
          >
            <img
              src="./assets/img/ic-oximeter.svg"
              class="nav-tab-icon"
              alt="oximeter icon"
            />
            Monitoring With Oximeter
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="symptoms-tab"
            data-bs-toggle="tab"
            data-bs-target="#symptoms-tab-pane"
            type="button"
            role="tab"
            aria-controls="symptoms-tab-pane"
            aria-selected="false"
          >
            <img
              src="./assets/img/ic-symptoms.svg"
              class="nav-tab-icon"
              alt="oximeter icon"
            />
            Monitoring Based On Symptoms
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active pt-5"
          id="oximeter-tab-pane"
          role="tabpanel"
          aria-labelledby="oximeter-tab"
          tabindex="0"
        >
          <section class="oximeter__section">
            <a
              href=""
              class="link-primary fs-4 text-decoration-underline fw-semibold d-block mb-5"
              role="link"
            >
              How to use a oximeter?
            </a>
            <div class="container bg-light-blue py-4 mb-5">
              <div class="mb-6">
                <div class="d-flex justify-content-between">                  
                  <input
                    class="form-control form-control--date"
                    type="text"
                    name="date-range"
                    id="date-litepicker"
                    placeholder="Select your date"
                  />
                  <button class="btn btn-primary">Take Reading</button>
                </div>
                <hr class="opacity-100 text-light-gray" />
                <div class="row row-cols-1 row-cols-xl-3 g-3 gx-xl-5">
                  <div class="col">
                    {{ card.monitoring('Morning', '99', '120') }}
                  </div>
                  <div class="col">
                    {{ card.monitoring('Afternoon', '-', '-') }}
                  </div>
                  <div class="col">
                    {{ card.monitoring('Night', '-', '-') }}
                  </div>
                </div>
              </div>
              <div class="Chart__SP02 mb-5">
                <h5>Sp02 Chart</h5>
                <hr />
                <div class="chart-wrapper">
                  <canvas id="oximeter-chart" class="bg-white"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color acceptable"></span>
                      <span class="text">Acceptable</span>
                    </span>
                    <span class="item">
                      <span class="color advice"></span>
                      <span class="text">Get Advice from healthcare team</span>
                    </span>
                    <span class="item">
                      <span class="color urgent"></span>
                      <span class="text">Urgent, Call 111</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="Chart__Pulse-Rate">
                <h5>Pulse Rate Chart</h5>
                <hr />
                <div class="chart-wrapper">
                  <canvas id="pulse-rate-chart" class="bg-white"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color acceptable"></span>
                      <span class="text">Acceptable</span>
                    </span>
                    <span class="item">
                      <span class="color advice"></span>
                      <span class="text">Get Advice from healthcare team</span>
                    </span>
                    <span class="item">
                      <span class="color urgent"></span>
                      <span class="text">Urgent, Call 111</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="table-lung__section">
            <h3 class="table-lung__heading">
              The following is a guide for adults without pre-existing lung
              conditions.
            </h3>
            <div class="table-responsive">
              <table class="table mb-0">
                <caption class="text-dark mt-3">
                  If your oxygen saturation number drops by 3 (ie, decreases by
                  3%) or more from your first reading, phone the 24-hour
                  COVID-19 number 0800 358 5453
                </caption>
                <thead>
                  <tr>
                    <th scope="col">SP02</th>
                    <th scope="col">Pulse Rate</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>95-99</td>
                    <td>50-99</td>
                    <td>Acceptable</td>
                  </tr>
                  <tr>
                    <td>92-94</td>
                    <td>100-119</td>
                    <td>Seek advice from your COVID-19 healthcare team</td>
                  </tr>
                  <tr>
                    <td>Below 92</td>
                    <td>120 or more</td>
                    <td>
                      Call
                      <a
                        href="tel:111"
                        class="link-primary text-decoration-underline fw-bold"
                        >111</a
                      >
                      for urgent medical care
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div
          class="tab-pane fade"
          id="symptoms-tab-pane"
          role="tabpanel"
          aria-labelledby="symptoms-tab"
          tabindex="0"
        >
          2
        </div>
      </div>
    </div>
  </section>

  <!-- near hospital -->
  <section class="nearest-hospital__section bg-light-blue py-6 mb-0">
    <div class="hospital__container">
      <h5 class="hospital__title">The Nearest Hospital</h5>
      <p class="hospital__subtitle">
        Information and address number of the hospital closest to your location
      </p>
      <div class="hospital__item">
        <div class="hospital__symptoms">
          <h3 class="hospital__name">Hospital 1</h3>
          <p class="hospital__contact text-gray">
            2972 Westheimer Rd. Santa Ana, Illinois 85486 1
          </p>
          <div class="hospital__time-routes">
            <i class="fas fa-car text-gray me-1"></i>20mnt
            <i class="fas fa-motorcycle ms-4 text-gray me-1"></i>20mnt
          </div>
        </div>
        <div class="hospital__action">
          <a id="btn-route" href="" role="button">
            <i class="fas fa-route hospital__button"></i>
            <span class="d-block">Route</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'footer.html' %} {% endblock %}
