{% set cssStyle = "style" %} {% set pageTitle = 'Shop' %} {% import 'nav.html'
as nav %} {% import 'cards.html' as card %} {% import 'modal.html' as modal %}
{% import 'nearest-pharmacy.html' as chemist %} {% extends "layout.html" %} {%
block content %}
<header>{{ nav.pages() }}</header>
<main>
  <section class="hero__section">
    <img src="./assets/img/bg-shop.webp" class="hero__bg hero__bg--small" />
    <div class="hero__container">
      <div class="hero__content">
        <div class="hero__content-header hero__content-header--medicine-kit">
          Shop
        </div>
        <hr class="text-primary opacity-100 mx-6" />
      </div>
    </div>
  </section>
  {% include 'shop-section.html' %}
  {{ chemist.isChemist('List of Chemist in New Zealeand', true) }}
</main>
{% include 'footer.html' %} {% endblock %}
