{% set cssStyle = "style" %} {% set pageTitle = 'Sign Up' %} 
{% import
'nav.html' as nav %} {% extends "layout.html" %} {% block content %}
<header>{{ nav.auth() }}</header>
<main>
  <section class="auth__section">
    <div class="auth__container">
      <h1 class="auth__title">Let’s Get Started</h1>
      <form class="needs-validation" novalidate>
        <div class="auth__form-field">
          <label class="form-label">Email</label>
          <div class="form__input">
            <input
              type="email" class="form-control form-control-lg"
              placeholder="Enter Email here"
              required
            />
            <a role="button" class="clear-input show"></a>
            <div class="invalid-feedback">Email required</div>
          </div>
        </div>
        <div class="auth__form-field">
          <label class="form-label">Suburb</label>
          <select
            class="form-select2 form-select form-select-lg"
            name="state"
            required
          >
            <option></option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
            <option value="Auc">Auckland SBD</option>
          </select>
          <div class="auth__form-notes">
            Suburb so we can show you the nearest pharmacy/hospital/hauora org
          </div>
          <div class="invalid-feedback">Please select your suburb</div>
        </div>
        <div class="auth__form-field">
          <label class="form-label">Create Password</label>
          <div class="form__password">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="At least 8 characters"
              required
            />
            <a role="button" class="toggle-password"></a>
            <div class="invalid-feedback">
              Incoret password. Passwords must be at least 8 characters
            </div>
          </div>
        </div>
        <div class="auth__form-field">
          <label class="form-label">Confirm Password</label>
          <div class="form__password">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="At least 8 characters"
              required
            />
            <a role="button" class="toggle-password"></a>
            <div class="invalid-feedback">
              Incoret password. Passwords must be at least 8 characters
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg col-12 mt-6">
          Create Account
        </button>
        <p class="auth__footer">
          Already have an Pae Hono Account?
          <a href="login.html" class="auth__link">Log In</a>
        </p>
      </form>
    </div>
  </section>
</main>

{% endblock %}
