.auth {
  &__section {
    padding: 32px 0;
  }
  &__container {
    @extend .container;
    @include media-breakpoint-up(md) {
      max-width: 512px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 552px;
    }
  }
  &__form-field {
    margin-top: 32px;
  }
  &__form-notes {
    font-size: 12px;
    line-height: 18px;
    color: $gray-400;
    margin-top: 4px;
  }
  &__title {
    margin-bottom: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  &__footer {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
  }
  &__link {
    color: $info;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &:hover {
      color: $primary;
    }
  }
}
