<!-- Card monitoring -->
{% macro monitoring(title, oxigenRateValue, pulseRateValue) %}
<div class="card-monitoring">
  <div class="card__header">
    <h5 class="card__title">{{title}}</h5>
    <a href="#updateOximeterReadingModal" role="button" data-bs-toggle="modal" ><i class="fas fa-pen"></i></a>
  </div>
  <div class="row row-cols-2 g-3 gx-lg-4">
    <div class="col">
      <div class="card__content-item">
        <p class="content-item__title">SP02 %</p>
        <h4 class="content-item__value">{{oxigenRateValue}}</h4>
      </div>
    </div>
    <div class="col">
      <div class="card__content-item">
        <p class="content-item__title">Pulse Rate BPM</p>
        <h4 class="content-item__value">{{pulseRateValue}}</h4>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
