{% macro room(title, type, temp = 0, hum = 0, dew = 0) %}
<div class="room-item border rounded-2 p-2">
  <h4 class="room-item__title">{{ title }}</h4>
  <h6 class="room-item__subtitle">{{ type }}</h6>
  <div class="d-flex align-items-center mb-2">
    <div class="flex-grow-1">
      <h6 class="room-item__current-condition">
        <i class="fas fa-thermometer-quarter"></i>Comfortable room
      </h6>
      <h6 class="room-item__time">
        <i class="fas fa-clock"></i>10 minutes ago
      </h6>
    </div>
    <figure class="room-item__image-wrapper">
      <img src="assets/img/comfortable.png" alt="" class="img-fluid" />
    </figure>
  </div>
  <div class="room-item__data-wrapper">
    <div class="data-item">
      <div class="data-item__label">Temperature</div>
      <h6 class="data-item__value">{{ temp }}°C</h6>
    </div>
    <div class="data-item">
      <div class="data-item__label">Humidity</div>
      <h6 class="data-item__value">{{ hum }}%</h6>
    </div>
    <div class="data-item">
      <div class="data-item__label">Dewpoint</div>
      <h6 class="data-item__value">{{ dew }}°C</h6>
    </div>
  </div>
  <div class="mt-2">
    <a
      href="#"
      class="btn bg-primary text-white w-100 d-flex align-items-center"
    >
      <span class="ms-auto">Analysis</span>
      <i class="fas fa-chevron-right ms-auto"></i>
    </a>
  </div>
</div>
{% endmacro %}

<!-- Card Room Whanau -->
{% macro roomWhanau(name, email, imgUrl, description, tempType, tempValue, humType, humValue ) %}
<div class="card card--room-whanau">
  <div class="card-body">
    <h4 class="room-item__title">{{ name }}</h4>
    <h6 class="room-item__subtitle">{{ email }}</h6>
    <div class="d-flex align-items-center mb-2">
      <figure class="room-item__image-wrapper">
        <img src="assets/img/{{ imgUrl }}" alt="" class="img-fluid" />
      </figure>
      <p class="room-item__description">{{ description }}</p>
    </div>
    <div class="room-item__data-wrapper">
      <div class="temperature-column {{ tempType }}">
        <i class="icon icon--temperature"></i>
        <div class="text-wrapper">
          <div class="title">Temperature</div>
          <div class="value">{{ tempValue }}°C</div>
        </div>
      </div>
      <div class="temperature-column {{ humType }}">
        <i class="icon icon--temperature"></i>
        <div class="text-wrapper">
          <div class="title">Humidity</div>
          <div class="value">{{ humValue }}%</div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <a
        href="#"
        class="btn bg-primary text-white w-100 d-flex align-items-center"
      >
        <span class="ms-auto">See Detail Room</span>
        <i class="fas fa-chevron-right ms-auto"></i>
      </a>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Card Company -->
{% macro company() %}
<div class="card card--company">
  <div class="card-body">
    <div class="d-flex">
      <div class="img-wrapper">
        <img src="./assets/img/img-company.png" alt="" />
      </div>
      <div class="content-wrapper">
        <div class="company__title">
          Electricity Corporation of New Zealand Ltd
        </div>
        <p class="company__price">
          $4,00 <span class="company__text">/ kilowatt hour</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
