<footer class="footer">
    <div class="footer__container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-3">
          <div class="footer__brands">Pae Hono</div>
          <div class="d-flex gap-3 mt-4">
            <a href="" class="footer__social-media">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="footer__social-media">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="footer__heading mt-6 mt-md-0 mb-4">Other</div>
          <div class="d-flex gap-2 flex-column">
            <div class="footer__link">wharehauora</div>
            <div class="footer__link">Tuaiwi</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">&copy; 2022 Pae Hono</div>
  </footer>