{% macro date(id) %}
<div class="input__date">
  <input
    class="form-control date-litepicker"
    type="text"
    name="date"
    id="{{id}}"
    placeholder="Select your date"
  />
  <label for="{{id}}">
    <i class="fas fa-calendar-alt"></i>
  </label>
</div>
{% endmacro %} {% macro dateRange(id) %}
<div class="input__date">
  <input
    class="form-control date-litepicker-range"
    type="text"
    name="date"
    id="{{id}}"
    placeholder="Select your date"
  />
  <label for="{{id}}">
    <i class="fas fa-calendar-alt"></i>
  </label>
</div>
{% endmacro %} {% macro dateFullWidth(id) %}
<div class="input__date w-100">
  <input
    class="form-control date-litepicker"
    type="text"
    name="date"
    id="{{id}}"
    placeholder="Select your date"
  />
  <label for="{{id}}">
    <i class="fas fa-calendar-alt"></i>
  </label>
</div>
{% endmacro %}

<!-- FLOATING INPUT -->
{% macro floating(label, name, value, type='text') %}
<div class="form-floating">
  <input
    name="{{ name }}"
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    placeholder="{{ label }}"
    value="{{ value | escape }}"
  />
  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}
