{% import 'kai-item.html' as kaiItem %}
<!-- Kai List -->
<div class="row row-cols-1 row-cols-lg-3 g-3 gy-xl-4">
  <div class="col">
    {{ kaiItem.default('img-chickens.webp', 'Vegetable Spring Rolls', 'Side-dish',
    '30 mins') }}
  </div>
  <div class="col">
    {{ kaiItem.default('img-cakes.webp', 'Strawberry Blondies', 'Desert',
    '105 mins') }}
  </div>
  <div class="col">
    {{ kaiItem.default('img-cocho chip.webp', 'Almond Chocolate Chip', 'Side-dish',
    '90 mins') }}
  </div>
  <div class="col">
    {{ kaiItem.default('img-chickens.webp', 'Vegetable Spring Rolls', 'Side-dish',
    '30 mins') }}
  </div>
  <div class="col">
    {{ kaiItem.default('img-chickens.webp', 'Vegetable Spring Rolls', 'Side-dish',
    '30 mins') }}
  </div>
  <div class="col">
    {{ kaiItem.default('img-chickens.webp', 'Vegetable Spring Rolls', 'Side-dish',
    '30 mins') }}
  </div>
</div>
