{% import 'pagination.html' as pagination %}
<section id="kai">
  <div class="container">
    <div class="d-flex gap-3 flex-wrap flex-md-nowrap col col-md-10 col-lg-5">
      <div class="input-group">
        <input
          type="search"
          id="form1"
          class="form-control"
          placeholder="Search"
        />
        <label class="input-group-text" for="form1">
          <i class="fas fa-search"></i>
        </label>
      </div>
      <select class="form-select">
        <option>All recipes</option>
        <option>Desert</option>
      </select>
    </div>
    <div class="shop__body row gx-4 mt-5">
      <div class="col">
        {% include 'kai-list.html' %}
        <div
          class="row row-cols-1 row-cols-lg-2 justify-content-lg-between align-items-center mt-3 gy-3 gy-lg-0"
        >
          <p class="col col-lg text-center text-lg-start">Showing 1 of 7 pages</p>
          <div class="col col-lg-auto w-auto mx-auto ms-lg-auto me-lg-0">{{pagination.default()}}</div>
        </div>
      </div>
      <div class="col-auto mx-auto my-5">
        {% include 'advertising.html' %}
      </div>
    </div>
  </div>
</section>
