{% import 'medicine-item.html' as medicine %} 
{{ medicine.default("medicines", "Stock up your reguler medicines") }}
{{ medicine.default("oximeter", "Oximeter") }}
{{ medicine.default("panadol", "Panadol") }}
{{ medicine.default("anthistamines", "Anthistamines") }}
{{ medicine.default("betadine", "Betadine Throat Wash") }}
{{ medicine.default("probiotics", "Throat probiotics") }}
{{ medicine.default("Saline Nasal Rinse", "Saline Nasal Rinse") }}
{{ medicine.default("Saline Nose Spray", "Saline Nose Spray") }}
{{ medicine.default("Kawakawa Balm", "Kawakawa Balm") }}
