<!-- near hospital -->
<section class="nearest-hospital__section bg-light-blue py-6 mb-0">
  <div class="hospital__container">
    <h5 class="hospital__title">The Nearest Hospital</h5>
    <p class="hospital__subtitle">
      Information and address number of the hospital closest to your location
    </p>
    <div class="hospital__item">
      <div class="hospital__symptoms">
        <h3 class="hospital__name">Hospital 1</h3>
        <p class="hospital__contact text-gray">
          2972 Westheimer Rd. Santa Ana, Illinois 85486 1
        </p>
        <div class="hospital__time-routes">
          <i class="fas fa-car text-gray me-1"></i>20mnt
          <i class="fas fa-motorcycle ms-4 text-gray me-1"></i>20mnt
        </div>
      </div>
      <div class="hospital__action">
        <a id="btn-route" href="" role="button">
          <i class="fas fa-route hospital__button"></i>
          <span class="d-block">Route</span>
        </a>
      </div>
    </div>
  </div>
</section>
