<section class="recipe">
  <p class="recipe__description">
    Spring rolls are a special food from China that is made during the spring
    season. They are made with vegetables that grow during the spring season.
  </p>
  <p class="recipe__description">
    The spring rolls can be filled with vegetables, beef, chicken or pork.
    Nowadays, spring rolls are very easy to find almost all over Asia and the
    world. Each country has its own characteristics, such as Vietnamese Spring
    Rolls which uses wet spring roll skin made from rice flour.
  </p>
  <p class="recipe__description">
    My recipe will be simple, I'm using vermicelli and some vegetables (carrot,
    cabbage, and spring onion ). You can add some more vegetable-based on your
    favorites or you can replace the vermicelli with noodles.
  </p>
  <div class="recipe__section">
    <h5 class="recipe__heading">Ingredients</h5>
    <ul class="recipe__list">
      <li>100 gram vermicelli</li>
      <li>100 gram carrot</li>
      <li>150 gram cabbage</li>
      <li>50 gram spring Onion</li>
      <li>1 tsp garlic (minced)</li>
      <li>1 tsp salt</li>
      <li>1 tsp papper</li>
      <li>1 tbsp oyster sauce</li>
      <li>20 pcs spring roll skin</li>
      <li>100 ml water (for cooking)</li>
      <li>200 ml cooking oil</li>
    </ul>
  </div>
  <div class="recipe__section">
    <h5 class="recipe__heading">Instructions</h5>
    <p class="recipe__subheading">For making the fillings:</p>
    <ul class="recipe__list">
      <li>
        Soak the vermicelli in boiling water for around 15 minutes until the
        strands are separeted.
      </li>
      <li>After 15 minutes soaked, drain the water. Let it rest.</li>
      <li>
        Cut the cabbage into slices and cut the spring onions. Cut the carrots
        into into match stick cuts or you can also cut them into cube sizes.
      </li>
      <li>
        Get a work or pan and put some cooking oil in pit. Put the minced garlic
        in and stir it until fragrant.
      </li>
      <li>
        Put the vermicelli and all the vegetables into the wok. Add 100 ml of
        water, to make it nice and not too dry. Stir it well until half cook.
      </li>
      <li>
        After all, the ingredients are seasoned and mixed well, you can turn off
        the fire and move it to a bowl, or you can still keep it in the wok.
      </li>
      <li>
        After all, the ingredients are seasoned and mixed well, you can turn off
        the fire and move it to a bowl, or you can still keep it in the wok.
      </li>
    </ul>
    <p class="recipe__subheading">For making the spring rolls:</p>
    <ul class="recipe__list">
      <li>
        Get a spring roll skin and put a tablespoon of the veggies and
        vermicelli. Fold it down from the left and then the right side
      </li>
      <li>
        Apply a little bit of water at the top and lower back part of the skin,
        and then fold those parts to the back.
      </li>
      <li>
        Put the cooking oil in the pan, and turn on the fire to medium heat. Fry
        the spring rolls. You can flip it a few times. Fry until golden brown.
      </li>
      <li>
        Move it to a plate, you can add some ketchup on the side if you want.
        Vegetable Spring Rolls are ready to serve.
      </li>
    </ul>
    <img src="./assets/img/img-chickens.webp" alt="" class="recipe__picture" />
  </div>
  {% include 'share.html' %}
</section>
