<!-- Shop Items -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3  g-3 gy-xl-4">
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-loraclear.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-medicines.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-panadol.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-loraclear.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-medicines.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shop__item">
      <img src="./assets/img/img-panadol.webp" class="shop__image" alt="" />
      <p class="shop__name">Loraclear 10mg Tablets</p>
      <div class="d-flex justify-content-between">
        <p class="shop__price">Rp 101.000,00</p>
        <div class="shop__review">
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
          <img src="./assets/img/ic-star.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
