.card--profile {
  background: #f1faff;
  border-radius: 10px;
  border-color: transparent;

  .profile {
    &__wrapper {
      display: flex;
      gap: 10px;
      align-items: center;
      flex-wrap: wrap;
    }
    &__avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    &__name {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
    }
    &__email {
      @extend .text-break;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
