.card {
  &__symtomp {
    @extend .card-monitoring;
  }
  &__content {
    .actions {
      &__wrapper {
        margin-bottom: 24px;
        @include media-breakpoint-up(xl) {
          min-height: 152px;
        }
      }                     
    }
    .content {
      &__heading {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &__action-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin: 10px 0 0;
      }
      &__text {
        color: $success;
      }
      &__symptom-list {
        display: flex;
        gap: 15px;
        .symptom__item {
          border: 1px solid $danger;
          color: $danger;
          border-radius: 4px;
          padding: 5px 10px;
        }
      }
    }
  }
}
