.footer {
  background: $gray-900;
  color: $white;

  &__container {
    @extend .container;
    padding: 32px 20px;
  }

  &__brands {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }

  &__social-media {
    color: $white;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &__heading {
    font-size: 20px;
    line-height: 24px;
    color: $gray-500;
  }

  &__copyright {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
    color: $gray-500;
    border-top: 1px solid $gray-800;
  }
}
