.nav {
  &.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid $gray-500;
    .nav-link {
      border: 0;

      &.active {
        font-weight: 500;
        line-height: 24px;
        border-bottom: 4px solid $primary;
        margin-bottom: 0;
      }
      &:hover {
        color: $gray-500;
      }
    }
    .nav-item {
      flex: 0 0 auto;

      &:not(:first-child) {
        margin-left: 32px;
      }
    }
  }
  .nav-tab-icon {
    display: none;
    @include media-breakpoint-up(lg) {
        display: inline;
    }
  }
}
